<!-- components/Skills.astro -->
---
const {skills}=Astro.props;
---
<section>
  <h2>Habilidades</h2>
  <ul> {skills.map((ski) => (
    <li><strong>{ski.type}</strong>         
    
      <ul class="lista-balon">{ski.list.map((skli) => (
        <li class="balon">{skli}</li>
      ))}</ul>
    
    
      </li>
  ))}    
  </ul>
</section>
<style>
  .balon{
    box-shadow: 0 4px 10px rgba(0,0,0, 0.25 );
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 10px;
  }
  .lista-balon{
  list-style:none;
  padding-left: 0;
  display:flex;
  flex-wrap: wrap;  
}
</style>


